<h1> <%= @movie_director.name %> </h1>
  <dl>
    <dt>
      <strong>Nacionalidade:</strong> <%= @movie_director.nationality %>
    </dt>

    <dt>
      <strong>Data de nascimento:</strong> <%= @movie_director.birth_date %>
    </dt>

    <dt>
      <strong>Gênero favorito:</strong> <%= @movie_director.movie_genre.name %>
    </dt>

    <dt>
      <strong>Filmes:</strong> <%= @movie_director.movies.all.map(&:title).join(', ') %>
    </dt>
  </dl>

  <%= link_to 'Editar', edit_movie_director_path %>