<h1> <%= @movie_director.name %> </h1>

<strong>Nacionalidade:</strong> <%= @movie_director.nationality %>
<strong>Data de nascimento:</strong> <%= @movie_director.birth_date %>
<strong>Gênero favorito:</strong> <%= @movie_director.movie_genre.name %>

<h3> Filmes que dirigiu:</h3>
<ul>
  <% @movies.each do |m| %>
    <li> <%= link_to m.title, m %> </li>
  <% end %>
</ul>

<%= link_to 'Editar', edit_movie_director_path %>
<%= link_to 'Voltar', movie_directors_path %>